<h1><%= t('.header') %></h1>
<div class="wrap-content">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th><%= t('.train_number') %></th>
      <th><%= t('.number') %></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= render @wagons.map(&:generalize) %>
    </tbody>
  </table>
</div>