<h1>Wagon №<%= @wagon.number %></h1>
<h2>Seats:</h2>
<table>
  <thead>
  <tr>
    <td>Type</td>
    <td>Count</td>
  </tr>
  </thead>
  <tbody>
  <% @wagon.exist_seats.each do |type, count| %>
    <tr>
      <td><%= type %></td>
      <td><%= count %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', [:admin, @wagon.train] %>