<h1><%= t('.header') %></h1>
<div class="wrap-content">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.train.number') %></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= render @trains %>
    </tbody>
  </table>
</div>
<br>

<%= link_to t('common.actions.new', resource: t('activerecord.models.train')),
            new_admin_train_path, class: 'btn btn-primary' %>
