<tr>
  <td><%= railway_station.title %></td>
  <td>
    <div class="btn-group" role="group" aria-label="...">
        <%= link_to t('common.actions.show'), [:admin, railway_station],
                    class: 'btn btn-default' %>
        <%= link_to t('common.actions.edit'), edit_admin_railway_station_path(railway_station),
                    class: 'btn btn-default' %>
        <%= link_to t('common.actions.delete'), [:admin, railway_station],
                    class: 'btn btn-default', method: :delete,
                    data: { confirm: t('common.are_you_sure') } %>
    </div>
  </td>
</tr>