<tr>
  <td><%= ticket.train.number %></td>
  <td><%= ticket.full_name %></td>
  <td><%= link_to 'Show', ticket %></td>
  <td><%= link_to 'Delete', ticket, method: :delete, data: {confirm: 'Are you sure?'} %></td>
</tr>