<h1><%= t('.header')%></h1>

<table>
  <thead>
  <tr>
    <th><%= t('activerecord.models.train') %></th>
    <th><%= t('.owner_name')%></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <%= render @tickets %>
  </tbody>
</table>
