<h1><%= t('.header') %></h1>
<div class="wrap-content">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= render @routes %>
    </tbody>
  </table>
</div><br>

<%= link_to t('common.actions.new', resource: t('activerecord.models.route')),
            new_admin_route_path, class: 'btn btn-primary' %>